.img {
  background-color: rgb(33, 37, 43);
  background-color: rgb(40, 44, 52);
  background-color: rgb(40, 49, 60);
  background-color: rgb(41, 184, 219);
  background-color: rgb(194, 64, 52);
  background-color: rgb(152, 191, 121);
  color: rgb(171, 178, 178);
}
