[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
python-decouple = "*"
flask = "*"
connexion = "*"

[requires]
python_version = "3.8"

[dev-packages]
pipenv-setup = "*"
autopep8 = "*"
