[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
python-decouple = "*"
flask = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
pytest-html = "*"
gevent = "*"

[requires]
python_version = "3.8"

[dev-packages]
pipenv-setup = "*"
autopep8 = "*"
ipython = "*"
pre-commit = "*"
flake8 = "*"
