.App {
  background-color: rgb(40, 44, 52);
  color: rgb(171, 178, 178);
  text-align: center;
  height: 100%;
  scroll-behavior: smooth;
  text-align: left;
}

.navbar {
  background-color: rgb(33, 37, 43);
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-nav {
  max-height: auto;
}

.nav-item {
  margin: 0 20px;
  padding: 20px;
}

.nav-link {
  color: rgb(41, 184, 219) !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.nav-item:hover {
  background-color: rgb(40, 44, 52);
  transition: 0.2s;
}

.container.inner {
  width: 90%;
  margin: 80px auto;
  padding: 0;
  /* border: 2px solid rebeccapurple; */
  background-color: rgb(40, 44, 52);
}

.container > .row {
  background-color: rgb(33, 37, 43);
  width: 100%;
  margin: 0 0;
}

/* .row > .col {
  border: 2px solid rebeccapurple;
} */

.header {
  color: rgb(41, 184, 219);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
