.title-row {
  background-color: rgb(40, 44, 52) !important;
}

.title-row > .col {
  padding: 0;
}

.title-row > .col > span {
  color: rgb(41, 184, 219);
  text-transform: uppercase;
}

.Tests > .col {
  position: relative;
  overflow-y: scroll;
  width: 20%;
  height: 80vh;
}

.Tests > .row {
  flex-direction: column;
  justify-content: space-between;
}
