.Tests {
  position: relative;
}

.Tests > .col {
  position: relative;
  overflow-y: scroll;
  width: 20%;
  height: 80vh;
  text-align: left;
}

.Tests > .title {
  position: absolute;
  top: -22px;
  color: rgb(41, 184, 219);
  text-transform: uppercase;
}

.Tests > .row {
  flex-direction: column;
  justify-content: space-between;
}

.logs {
  text-align: left;
}
